p {
    font-size: 1.75rem;
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid black;
}

#para {
    background-color: lightblue;
}

section{
    /* position: static; */
}

#box {
    position: absolute;
    top: 60px;
    left: 90px;
    /* bottom: 90px; */
    width: 15rem;
    height: 10rem;
    border: 2px solid black;
    background-color: lightsalmon;
}

#long {
    background-color: lightseagreen;
}