body {
    display: grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        "mani mani"
        "aside main"
        "footer footer";
    gap: 10px;
    /* justify-items: center;
    align-items: center; */
    
}
header {
    /* grid-column: 1/3; */
    grid-area: mani;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    /* grid-column: 1/3; */
    grid-area: footer;
}
body > * {
    border: 5px solid lightgray;
}
#fontSize {
    font-size: 32px;
    width: 50%;
    border: 3px solid lightgray;
}
#fontSizeOne {
    font-size: 32px;
    width: 50vw;
    border: 3px solid lightgray;
}

html {
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}